amqp==2.2.1
anyjson==0.3.3
app==0.0.1
appnope==0.1.0
asn1crypto==0.22.0
attrs==17.2.0
billiard==3.5.0.3
celery==4.0.2
cffi==1.10.0
contextlib2==0.5.5
cryptography==2.0
decorator==4.1.1
Django==1.11.3
django-celery==3.2.1
django-celery-results==1.0.1
django-cors-headers==2.1.0
envoy==0.0.3
gunicorn==19.7.1
idna==2.5
ipython==6.1.0
ipython-genutils==0.2.0
jedi==0.10.2
kombu==4.0.2
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.14
ptyprocess==0.5.2
pyasn1==0.2.3
pyasn1-modules==0.0.9
pycparser==2.18
Pygments==2.2.0
pyOpenSSL==17.1.0
pytz==2017.2
raven==6.1.0
redis==2.10.5
service-identity==17.0.0
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
vine==1.1.4
wcwidth==0.1.7
